# Visual Studio
.vs/
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.ide

# Build output
*.dll
*.exe
*.pdb
*.db
*.log

# NuGet
packages/
*.nupkg

# EF Core
Migrations/

# Secrets
appsettings.json
*/appsettings.json
**/appsettings.json
appsettings.Development.json
*.env

# Other
*.DS_Store
Thumbs.db
